.ParkingCard {
    margin: 1rem 0;
}

.capacity {
    font-size: 1.5em;
    font-weight: 500;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.parkButton,
.parkButton {
    background: var(--accent);
    padding: 0.5em 0.8em;
    margin: 1rem 0 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    outline: none;
}

.parkButton:hover {
    box-shadow: var(--shadow-2);
}
