.backButton {
  color: white;
  text-decoration: none;
}

.detailsCard p {
  margin-top: 0.7em;
}

.detailsCard h4 {
  margin-bottom: 0.7em;
}

.backButtonIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border-radius: 50%;
  transition: all 300ms ease-in;
}

.backButton:hover .backButtonIcon {
  background: rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td,
th {
  padding: 0 1rem;
  text-align: left;
}
